.tulisan_satu {
    color: rgba(0, 162, 255, 0.945);
    font-family: sans-serif;
    font-style: normal;
}

.tulisan_dua {
    color: rgba(0, 162, 255, 0.945);
    font-family: sans-serif;
    font-style: normal;
}

.tulisan_satu {
    color: rgb(117, 202, 169);
    font-size: 24pt;
    font-style: italic;
}

.tulisan_tiga {
    color: rgb(234, 130, 130);
    font-weight: bold;
    font-style: oblique;
}