.tulisan_satu {
    color: rgb(112, 174, 219);
    text-decoration: underline;
}

.tulisan_dua {
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}

.tulisan_tiga {
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}

.tulisan_empat {
    text-transform: uppercase;
    text-indent: 30px;
    line-height: 30px;
    letter-spacing: 5px;
}